html,
body {
    background-color: #525252;
}

.exercise {
    margin: auto;
    padding: 20px;

    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 20px 50px 0px #363636;
}

#exercise-one {
    width: 40%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;

    position: relative;
    top: 200px;
}
.exercise > div {
    border-radius: 5px;
}

#red-one {
    background-color: red;
    grid-column: 1/3;
}
#blue-one {
    background-color: blue;
    grid-column: 3/5;
}
#green-one {
    background-color: green;
    grid-column: 1/2;
}
#purple-one {
    background-color: purple;
    grid-column: 2/5;
}
#yellow-one {
    background-color: yellow;
    grid-column: 1/-1;
}

#exercise-two {
    width: 40%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;

    position: relative;
    top: 400px;
}

#red-two {
    background-color: red;
    grid-column: 1/5;
}
#blue-two {
    background-color: blue;
    grid-column: 1/3;
    grid-row: 2/4;
}
#green-two {
    background-color: green;
    grid-column: 3/5;
}
#purple-two-l {
    background-color: purple;
    grid-column: 3/4;
}
#purple-two-r {
    background-color: purple;
    grid-column: 4/5;
}

#exercise-three {
    width: 40%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 15px;

    position: relative;
    top: 600px;
    margin-bottom: 100px;
    z-index: 2;
}

#exercise-three > div {
    text-align: left;
    padding: 15px;
}

#header {
    background-color: grey;
    grid-column: 1/2;
}
#sidebar {
    background-color: grey;
    grid-column: 1/2;
}
#content {
    background-color: grey;
    grid-column: 1/2;
}
#sidebar-two {
    background-color: grey;
    grid-column: 1/2;
}
#footer {
    background-color: grey;
    grid-column: 1/2;
}

/* tablet media query */
@media (min-width: 768px) {
    #exercise-three {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    #header {
        grid-column: 1/5;
        grid-row: 1/2;
    }
    #sidebar {
        grid-column: 1/2;
        grid-row: 2/4;
    }
    #content {
        grid-column: 2/5;
        grid-row: 2/4;
    }
    #sidebar-two {
        grid-column: 1/5;
        grid-row: 4/5;
    }
    #footer {
        grid-column: 1/5;
        grid-row: 5/6;
    }
}

/* laptop media query */
@media (min-width: 1366px) {
    #exercise-three {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #header {
        grid-column: 1/6;
        grid-row: 1/2;
    }
    #sidebar {
        grid-column: 1/2;
        grid-row: 2/4;
    }
    #content {
        grid-column: 2/5;
        grid-row: 2/4;
    }
    #sidebar-two {
        grid-column: 5/6;
        grid-row: 2/4;
    }
    #footer {
        grid-column: 1/6;
        grid-row: 4/6;
    }
}
